<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazon.biscuit.service"
    android:sharedUserId="android.uid.system">

    <permission
        android:name="com.amazon.biscuit.permission.CONTROL_BISCUIT_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application android:label="Biscuit Service">
        <receiver android:name=".BiscuitService$BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BiscuitService"
            android:exported="true"
            android:permission="com.amazon.biscuit.permission.CONTROL_BISCUIT_SERVICE">
            <intent-filter>
                <action android:name="com.amazon.biscuit.service.IBiscuitService" />
                <action android:name="com.amazon.biscuit.service.BLUETOOTH_PAIRING_MODE" />
                <action android:name="com.amazon.biscuit.service.BLUETOOTH_OFF" />
                <action android:name="com.amazon.biscuit.service.WIFI_CONNECT" />
            </intent-filter>
        </service>
    </application>
</manifest>
