# Frameworkless root init for Biscuit.
import /init.environ.rc
import /init.usb.rc
import /init.mt8163.usb.rc
import /init.biscuit.usb.rc
import /init.biscuit.bootstrap.rc

on early-init
    write /proc/1/oom_score_adj -1000
    start ueventd

on init
    sysclktz 0
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

on property:sys.powerctl=*
    powerctl ${sys.powerctl}

on load_all_props_action
    load_all_props

on firmware_mounts_complete
    rm /dev/.booting

on late-init
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger load_all_props_action
    trigger firmware_mounts_complete
    trigger early-boot
    trigger boot

service ueventd /sbin/ueventd
    class core
    critical
    seclabel u:r:ueventd:s0

service adbd /sbin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0
