# Hardware services for the frameworkless Biscuit base.

on fs
    symlink /dev/block/platform/soc /dev/block/platform/mtk-msdc.0
    mount_all /fstab.mt8163

on post-fs
    swapon_all /fstab.mt8163
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    load_persist_props

    mkdir /tmp 0771 root root
    mkdir /data/misc 01771 system misc
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/property 0700 root root

    mkdir /data/nvram 2771 root system
    mkdir /data/nvram/media 0770 media audio
    mkdir /data/@btmtk 0770 bluetooth net_bt

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp wifi
    mkdir /data/wifi 0771 wifi wifi

    start audio_init
    setprop sys.boot_completed 1

on property:ro.product.device=biscuit
    chmod 0660 /dev/stpwmt
    chmod 0660 /dev/wmtWifi
    chmod 0660 /dev/stpbt
    chown system system /dev/stpwmt
    chown system system /dev/wmtWifi
    chown bluetooth bluetooth /dev/stpbt
    start wmtLoader
    start conn_launcher

on property:init.svc.conn_launcher=running
    start wifi_bootstrap

on property:sys.biscuit.wifi.ready=1
    start wpa_supplicant
    start dhcpcd_wlan0

service audio_init /system/bin/sh /system/etc/audio_init.sh
    user root
    group root
    oneshot
    disabled

service wmtLoader /system/bin/wmt_loader
    user root
    group root
    oneshot
    disabled

service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user root
    group root system
    disabled

service wifi_bootstrap /system/bin/sh /system/bin/wifi-bootstrap.sh
    user root
    group root
    oneshot
    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    user root
    group dhcp wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    user wifi
    group wifi inet keystore
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
