# Frameworkless root init for Biscuit.
import /init.environ.rc
import /init.usb.rc
import /init.mt8163.usb.rc
import /init.biscuit.usb.rc
import /init.biscuit.bootstrap.rc

# Native setup from system/core/rootdir/init.rc; no framework service classes.
on early-init
    write /proc/1/oom_score_adj -1000
    write /sys/fs/selinux/checkreqprot 0
    setcon u:r:init:s0
    restorecon /adb_keys
    start ueventd
    mkdir /mnt 0775 root system

on init
    sysclktz 0
    loglevel 3
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc
    symlink /system/vendor /vendor
    symlink /sys/kernel/debug /d
    mkdir /tmp 0771 root root

    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0666 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 800000
    write /dev/cpuctl/cpu.rt_period_us 1000000
    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0666 /dev/cpuctl/bg_non_interactive/tasks
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52
    write /dev/cpuctl/bg_non_interactive/cpu.rt_runtime_us 700000
    write /dev/cpuctl/bg_non_interactive/cpu.rt_period_us 1000000

on post-fs
    mount debugfs debugfs /sys/kernel/debug

on post-fs-data
    chown system system /data
    chmod 0771 /data
    restorecon /data
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/adb 02750 system shell
    mkdir /data/misc/audit 02750 audit system
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/property 0700 root root
    mkdir /data/tombstones 0771 system system
    load_persist_props

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start core
    setprop sys.boot_completed 1

on property:sys.powerctl=*
    powerctl ${sys.powerctl}

on load_all_props_action
    load_all_props

on firmware_mounts_complete
    rm /dev/.booting

on late-init
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger load_all_props_action
    trigger firmware_mounts_complete
    trigger early-boot
    trigger boot

service ueventd /sbin/ueventd
    class core
    critical
    seclabel u:r:ueventd:s0

service logd /system/bin/logd
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    seclabel u:r:logd:s0

service adbd /sbin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0
