# Generic frameworkless Biscuit hardware selection.
import /init.biscuit.common.rc

on boot
    start led_bootstrap

service led_bootstrap /system/bin/sh /system/bin/led-bootstrap.sh
    user root
    group root
    oneshot
    disabled
